#cart-btn {
    color: gray;
  }

.shopPage {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid black;
  }
  
  .page-title h1 {
    font-family: Impact;
    font-size: 50px;
    margin-left: 30px;
    letter-spacing: 1px;
  }
  
  
  .content-container {
    flex: 1;
    max-width: 950px;
    margin: 20px;
    margin-left: 100px;
    padding: 20px;
    background-color: white;
    border: 3px solid black;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    font-family: Arial;
  }
  
  
  .shipmentNum {
    margin-bottom: 20px;
    border-bottom: 3px solid black;
  }
  
  .itemPrice {
    margin-bottom: 10px;
  }
  
  .cartItem {
    display: flex;
    align-items: center;
  }
  
  .itemName a {
    font-weight: bold;
    text-decoration: none;
    color: #333;
    margin-bottom: 5px;
  }
  
  .itemDescription {
    color: #666;
  }
  
  form {
    display: flex; /* Add this line */
    align-items: center; /* Add this line */
  }
  
  label {
    display: inline-block; /* Add this line */
    font-weight: bold;
    margin-right: 5px; /* Add this line */
  }
  
  input[type="number"] {
    font-family: Arial;
    width: 40px;
    padding: 5px;
    border-radius: 3px;
    border: 2px solid black;
    background-color: black;
    color: white;
  }
  
  .remove-addToWish-btn {
    margin-top: 10px;
    display: flex; /* Add this line */
  }
  
  .remove {
    font-family: Arial;
    font-size: 16px;
    background-color: black;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s ease;
  }

  .remove:hover {
    background-color: #555;
  }
  
  
  .itemImg img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid black;
    border-radius: 5px;
    margin-right: 20px;
  }

  .checkout {
    display: flex;
    margin: auto;
    padding: 100px;
  }
  
  .checkout-container {
    max-width: 300px;
    margin-left: 20px;
    padding: 2%;
    background-color: white;
    border: 3px solid black;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);  
    text-align: center;
  }
  
  .order-subtotal {
    font-weight: bold;
  }
  
  .checkout-btn {
    color: #fff;
    background-color: black;
    padding: 5px 10px;
    text-decoration: none;
    margin: 5px auto;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-family: Arial;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .checkout-btn[disabled] {
    color: #aaa;
    background-color: #333;
    pointer-events: none;
    opacity: 0.6;
    cursor:not-allowed;
  }
  
  .checkout-btn:hover {
    background-color: #555;
  }
  
  .checkout-btn[disabled]:hover {
    background-color: #333;
    cursor: not-allowed;
  }

  /* Custom checkbox styles */
.custom-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .custom-checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
  }
  
  /* On mouse-over, add a grey background color */
  .custom-checkbox:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .custom-checkbox input:checked ~ .checkmark {
    background-color: #2b2a33;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .custom-checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .custom-checkbox input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .custom-checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .recomProd-container {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
  }

  .recommended-container {
    font-size: 25px;
  }

  .recommended-container {
    flex: 1;
    margin: 0 10px;
  }

  .recommended-title {
    margin-top: 10px;
    margin-left: 30px;
    font-family: Impact;
    font-size: 20px;
  }

  .recommendedProducts {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 20px;
  }
  
  .recom-item {
    margin-bottom: 50px;
    padding-bottom: 5px;
    border-width: 3px;
    border-style: solid;
    border-color: #000000;
    border-radius: 10px;
    background-color: white;
  }

  .recom-item:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 1.5);
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .recom-img img {
    margin: 0 auto;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    max-width: 260px;
    object-fit: cover;
    height: 250px;
    width: 260px;
    display: block;
    margin: auto;
  }
  
  .recom-info {
    margin-left: 7px;
    font-family: Arial;
    font-size: 15px;
    line-height: 20px;
  }
  
  .star-rating {
    padding-bottom: 5px;
  }
  
  .price {
    border-radius: 20px;
    border: 2px solid black;
    padding: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    display: inline-block;
    margin: 0;
    background-color: white;
  }
  
  .shop-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 4px;
    color: black;
  }

  .shop-btn i {
    font-size: 30px;
  }
  
  .recom-title {
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 240px;
  }
  
  .recom-title h3 {
    margin: 0px;
  }

  .recom-title h3 {
    white-space: nowrap;
    overflow: hidden;
  }
  
  .align-price-remove {
    margin: 0px;
    display: flex;
    align-items: center;
    max-width: 250px;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
  }
  
  .modal-content {
    padding-top: 15px;
    background-color: #fefefe;
    margin: 15% auto;
    padding-bottom: 15px;
    border: 3px solid black;
    width: 20%;
    border-radius: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
  }

  .yes-btn {
    margin-right: 15px;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 45px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
  }
  
  .no-btn {
    margin-left: 15px;
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 45px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
  }

  .yes-btn,
  .no-btn {
  transition: background-color 0.3s, color 0.3s;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.yes-btn:hover,
.no-btn:hover {
  background-color: #555555;
  color: #ffffff;
}

.findMore {
  color: gray;
}

.findMore:visited {
  color: gray;
}

.noItems {
  padding: 50px ;
  font-size: 50px;
  color: black;
  font-family: Impact;
  text-align: center;
}


  /* Responsive Styles */
  @media screen and (max-width: 768px) {
    .content-container {
      margin: 10px;
      padding: 10px;
    }
  
    .shoppingCart {
      padding: 10px;
      margin-top: 10px;
    }
  
    .itemName a {
      font-size: 16px;
    }
  
    .itemDescription {
      font-size: 14px;
    }
  
    .itemImg img {
      max-width: 80px;
      max-height: 80px;
    }
  
    .checkout-container {
      margin-top: 10px;
      text-align: center;
    }
  
    .checkout-btn {
      padding: 8px 16px;
    }
  }
  