body {
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: black;
    color: white;
  }

  footer {
    display: flex;
    justify-content:center;
    align-items: center;
    height: 60px;
    background-color: black;
    color: white;
  }
  
  .header-logo {
    display: flex;
    align-items: center;
  }
  
  a:link {
    color: black;
  }
  
  a:visited {
    color: black;
  }
  
  
  #Logo_White, #AnimaniacTxt_White {
    height: 40px;
    margin-right: 10px;
  }
  
  .explore {
    position: relative;
  }
  
  .explorebtn {
    font-size: 32px;
    font-family: Impact;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
  }
  
  .explore:hover .explore-content {
    display: block;}
    
  .explore:hover .explorebtn {
    background-color: gray;}
  
  .explore-content {
    display: none;
    position: absolute;
    background-color: gray;
    top: 100%;
    color: white;
    z-index: 1;
  }
  
  .explore-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-family: Arial;
    text-align: center;
  }
  
  .explore-content a:hover {
    background-color: #444;
  }
  
  .explore:hover .explore-content {
    display: block;
  }
  
  .filter-container {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    margin-left: 450px;
  } 

  select[name="filter"] {
    width: 100px;
    height: 36px;
    padding: 0 10px;
    border-radius: 18px;
    border: none;
    background-color: #ffffff;
    color: #000000;
    font-size: 15px;
    font-weight: bold;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: calc(100% + 5px) center;
  }
  
  .search {
    display: flex;
    align-items: center;
    font-size: 30px;
  }
  
  .search input[type="text"] {
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
  }
  
  .search a {
    color: white;
    padding-top: 13px;
    padding-bottom: 12px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: -8px;
  }

  .search a:hover{
    background-color: gray;
  }
  
  .icons {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 25px;
    font-size: 30px;
  }
  
  .icons a {
    color: white;
    position: relative;
    padding-top: 13px;
    padding-bottom: 12px;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .icons a .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: black;
    color: white;
    border-radius: 50%;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .icons a.wish:hover {
    background-color: gray;
  }

  .icons a.cart:hover {
    background-color: gray;
  }

  .icons a.notif:hover {
    background-color: gray;
  }

  .icons a.user:hover {
    background-color: gray;
  }
  
  